body {
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #111113;
  position: relative;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px 0 8px;
  height: 100%;
}

.container {
  max-width: 1030px;
  width: 100%;
  height: 100%;
}

.search {
  width: 100%;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.search-categories {
  display: flex;
  align-items: center;
  gap: 12px;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 50px;
  padding: 24px 0 24px 0;
}

.movies-list_span {
  font-size: 1.2em;
  font-weight: bold;
  width: 300px;
  color: #ffffff;
}

.movie-item {
  position: relative;
  cursor: pointer;
}

.movie-item-header {
  position: relative;
}

.movie-item__poster {
  display: block;
  align-self: center;
}

.movie-item__title {
  font-size: 1em;
  margin: 0;
  margin-top: 10px;
  max-width: 230px;
  width: 100%;
  color: #ffffff;
}

.movie-item__badge {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  background-color: #e60b1c;
  padding: 7px 10px;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media (max-width: 766px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media (max-width: 516px) {
  .movies-list {
    grid-template-columns: repeat(1, 220px);
    justify-content: center;
  }
}
